@model AcunMedyaTravelProject.Entities.Booking
@{
    ViewBag.Title = "UpdateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container py-5">
    <div class="card shadow rounded-4">
        <div class="card-body">
            <h2 class="card-title mb-4 text-center">Seyahat Rehberini Güncelle</h2>

            <form method="post">
                @Html.HiddenFor(a => a.BookingID)

                <div class="mb-3">
                    <label for="Title" class="form-label">Başlık</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Seyahat rehber başlığını güncelleyin" })
                </div>

                <div class="mb-3">
                    <label for="Description" class="form-label">Açıklama</label>
                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = "3", @placeholder = "Seyahat rehber açıklamasını güncelleyin" })
                </div>

                <div class="mb-3">
                    <label for="ImageUrl" class="form-label">Resim URL</label>
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", @placeholder = "Resim bağlantısını güncelleyin" })
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success px-4">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>

