
@{
    ViewBag.Title = "AddSponsor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container py-5">
    <div class="card shadow rounded-4">
        <div class="card-body">
            <h2 class="card-title mb-4 text-center">Yeni Sponsor Ekle</h2>
            <form method="post">
                <div class="mb-3">
                    <label for="ImageUrl" class="form-label">Sponsor Resim URL</label>
                    <input type="text" class="form-control" id="ImageUrl" name="ImageUrl" placeholder="Sponsor resim bağlantısını girin">
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success px-4">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>


